body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
}
.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    top: -250px;
    opacity: 1;
    left: var(--left);
    filter: hue-rotate(720deg);
  }
}

h3{
    font-size: 5rem;
    text-align: center;
    margin-top: 10px;
    color: rgba(rgba(128, 128, 128, 0.555);
    opacity: 1;
}